@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,html{
    height: 100%;
}
html{
    font-size: calc(1em + 1vw);
    font-family: 'Poppins', sans-serif;
    color: #222;
    user-select: none;
}

// Colors
$themeColor: #30bdbd; 

// viewports
$tablets: 692px;
$desktop: 836px;

@mixin mobile {
    @media (max-width: #{$tablets}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

a{
    text-decoration: none;
    color: $themeColor;
}

main{
    padding-top: 60px;
    min-height: 90vh;
    section{
        display: flex;
            @include mobile {
                flex-direction: column;
            }
            @include tablets {
                flex-direction: row;
            }
        .img{
            width: 100%;
            height: 50vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 0;
                @include tablets {
                    width: 55%;
                    height: 90vh;
                }
        }
        div{
                @include tablets {
                    width: 50%;
                }
            padding: 1.2rem;
            h2{
                font-size: 1rem;
                color: $themeColor;
            }
            h3{
                font-size: .8rem;
            }
            p{
                span{
                    display: block;
                    margin-bottom: .5rem;
                    color: lightseagreen;
                }
                margin-top: .5rem;
                font-size: .75rem;
            }
        }
    }
}

footer{
    text-align: center;
    padding: 1.2rem 1rem;
    span{
        display: block;
        font-size: .6rem;
        line-height: 1.5;
    }
}