@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,html{
    height: 100%;
}
html{
    font-size: calc(1em + 1vw);
    font-family: 'Poppins', sans-serif;
    color: #222;
    user-select: none;
}

// Colors
$themeColor: #30bdbd; 

// viewports
$tablets: 692px;
$desktop: 836px;

@mixin mobile {
    @media (max-width: #{$tablets}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

main{
    text-align: center;
    padding: 60px 1.2rem 1.2px;
    h2{
        margin-top: .8rem;
        font-weight: 200;
        border-bottom: 1.5px solid #ddd;
        padding: .5rem 0;
    }
    section{
        margin-top: .8rem;
        display: grid;
        padding-bottom: .8rem;
        border-bottom: 1.5px solid #ddd;
            @include tablets {
                grid-template-columns: repeat(3, 1fr);
            }
        .card{
            margin: 1rem 0;
            height: 260px;
            background-color: $themeColor;
            display: flex;
            align-items: flex-end;
            border-radius: .4rem;
            @include tablets {
                margin: auto .5rem;
            }
                button{
                    margin: 1rem auto;
                    background-color: #fff;
                    border-style: solid;
                    border-color: $themeColor;
                    padding: .4rem 1rem;
                    border-radius: .1rem;
                }
        }
    }
}