@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,html{
    height: 100%;
}
html{
    font-size: calc(1em + 1vw);
    font-family: 'Poppins', sans-serif;
    color: #222;
    user-select: none;
}

// Colors
$themeColor: #30bdbd; 

// viewports
$tablets: 692px;
$desktop: 836px;

@mixin mobile {
    @media (max-width: #{$tablets}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

a{
    text-decoration: none;
    color: $themeColor;
}

main{
    min-height: 90vh;
    padding-top: 60px;
    #landing{
        height: calc(70vh - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, $themeColor,rgba(0,0,0,.5));
        h2{
            font-size: 2rem;
            color: #fff;
        }
    }
    #intro{
        padding: 1.2rem;
        text-align: center;
        h2{
            color: $themeColor;
            margin-bottom: .5rem;
        }
        p{
            font-size: .8rem;
        }
    }
    #gallery{
        padding: 1.2rem;
        div{
            @include tablets {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
            .item{
                margin: 1rem 0;
                overflow: hidden;
                height: 300px;
                border-radius: .4rem;
                position: relative;
                display: flex;
                flex-direction: column;
                    @include mobile {
                        box-shadow: 0 0 25px -7px #ccc;
                    }
                    @include tablets {
                        margin: .4rem;
                        border-radius: .2rem;
                    }
                img{
                    width: 100%;
                    height: 65%;
                }
                article{
                    margin: .5rem;
                        @include tablets {
                            height: 150px;
                            background-color: #fff;
                            margin-top: -2rem;
                            border-radius: .2rem;
                            box-shadow: 0 0 25px -7px #ccc;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    h2,p{
                        font-size: .5rem;
                    }
                    h2{
                        font-size: .8rem;
                        color: $themeColor;
                    }
                    button{
                        padding: .2rem .5rem;
                        background-color: $themeColor;
                        color: #fff;
                        border: transparent;
                        border-radius: .2rem;
                    }
                }
            }
        }
    }
}
footer{
    text-align: center;
    padding: 1.2rem 1rem;
    img{
        width: 60px;
        border: 1.5px solid $themeColor;
        border-radius: 50%;
        padding: .2rem;
        margin-bottom: 1.2rem;
        transition: transform .3s ease-out;
        &:hover{
            transform: scale(1.1);
            transition: transform .3s ease-in;
        }
    }
    span{
        display: block;
        font-size: .6rem;
        line-height: 1.5;
    }
}