@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,html{
    height: 100%;
}
html{
    font-size: calc(1em + 1vw);
    font-family: 'Poppins', sans-serif;
    color: #222;
    user-select: none;
}

// Colors
$themeColor: #30bdbd; 

// viewports
$tablets: 692px;
$desktop: 836px;

@mixin mobile {
    @media (max-width: #{$tablets}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}
a{
    text-decoration: none;
    color: $themeColor;
}

main{
    min-height: 90vh;
    padding-top: 60px;
    h2{
        font-size: .8rem;
        margin: 1.2rem;
        margin-bottom: 0;
        @include tablets {
            text-align: center;
            font-size: 1rem;
            font-weight: 200;
        }
        span{
            color: $themeColor;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        @include tablets {
            padding-top: .5rem;
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            color: $themeColor;
            font-size: .8rem;
            @include tablets {
                width: 50%;
            }
            input{
                font-size: .8rem;
                padding: .5rem;
                margin-bottom: .8rem;
                border: 1.2px solid #000;
                border-radius: .15rem;
                @include tablets {
                    padding: .3rem;
                    font-size: .5rem;
                    margin-bottom: .3rem;
                }
            }
            #description{
                height: 5rem;
                padding: .5rem;
                border-radius: .15rem;
                margin-bottom: .8rem;
                border: 1.2px solid #000;
                @include tablets {
                    height: 3rem;
                    margin-bottom: .3rem;
                }
            }
            input[type="file"]{
                border: transparent;
            }
            input[type="submit"]{
                background-color: $themeColor;
                color: #fff;
                padding: .5rem;
                font-size: 1rem;
                border: transparent;
                @include tablets {
                    padding: .2rem;
                    font-size: .8rem;
                }
            }
        }
    }
}

footer{
    text-align: center;
    padding: 1.2rem 1rem;   
        
    .social-links{
        img{
            width: 25px;
            margin: 0 .2rem 1.2rem;
        }
    }
    span{
        font-size: .6rem;
        display: block;
        line-height: 1.5;
    }
}