@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body, html {
  height: 100%;
}

html {
  font-size: calc(1em + 1vw);
  font-family: 'Poppins', sans-serif;
  color: #222;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: #30bdbd;
}

main {
  padding-top: 60px;
}

main .horizontal-scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 12rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

main .horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

main .horizontal-scroll-container .horizontal-scroll-item {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  width: 12rem;
  border: 1px solid #30bdbd;
  margin-right: 1rem;
  border-radius: .8rem;
  padding: .4rem;
}

main .horizontal-scroll-container .horizontal-scroll-item .img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #30bdbd;
  margin: .1rem auto;
}

main .horizontal-scroll-container .horizontal-scroll-item p {
  margin-bottom: .2rem;
}

main .horizontal-scroll-container .horizontal-scroll-item span {
  color: #30bdbd;
  font-size: .6rem;
}

main .horizontal-scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 8rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

main .horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

main .horizontal-scroll-container .horizontal-scroll-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  width: 8rem;
  background-color: #30bdbd;
  margin-right: .5rem;
  border-radius: .8rem;
}

main #landing {
  height: 70vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30bdbd), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, #30bdbd, rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

main #landing h2 {
  font-size: 2.5rem;
  line-height: 1;
}

main #landing p {
  font-size: .8rem;
  margin-top: .5rem;
}

main #catalog {
  padding: 1.2rem;
}

main #catalog .tourist, main #catalog .basics {
  margin: 1rem 0;
}

main #catalog .tourist h3, main #catalog .basics h3 {
  margin-bottom: 1rem;
}

main #catalog .basic-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

main #catalog .basic-container .item {
  height: 6rem;
  margin: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #catalog .basic-container .item .image {
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
}

main #catalog .basic-container .item .price {
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
}

main #catalog .basic-container .item .price span {
  font-size: .8rem;
}

main #catalog .basic-container .item .price p {
  font-size: .6rem;
  color: #777;
}

main #catalog .basic-container .item .hoodie {
  background-image: url("../assets/smartmockups_kfhqf6oo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main #catalog .basic-container .item .mask {
  background-image: url("../assets/smartmockups_kfhqhpxr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  text-align: center;
  padding: 1.2rem 1rem;
}

footer .social-links img {
  width: 25px;
  margin: 0 .2rem 1.2rem;
}

footer span {
  font-size: .6rem;
  display: block;
  line-height: 1.5;
}
/*# sourceMappingURL=shop.css.map */